doctype html
html
  head
    script(src="../../../vue.js")
    script(src="../../../vue-resource.min.js")
    link(href='/css/vdrive.css', rel='stylesheet')
  body
    #form
      #list
        template(v-for="item in defList")
          li(v-if="item.isFile" onclick="form.import('{{item.link}}')") {{ item.name }}
          li(v-if="item.isDir" onclick="form.getList('{{item.name}}')") {{ item.name }}
    div#data.hide(data-user="#{ user }", data-pass="#{ pass }")
    div#loader.hide
    div#spinner.hide
      img(src="//static.netelip.com/panel/v4/img/loading-page-alt2.svg")
    script(src="../../../vdrive.js")