doctype
html
    head
      title PDF test
      style.
        * { margin:0; padding:0; } 

        html, body { width:100%; height:100%; } 
        body{
            display: flex;
        }
        .scroll{
            width: 100%;
            overflow-y: scroll;
            overflow-x: hidden;
        }
        canvas {
            outline: 0px;
            position: relative;
            left: 0px;
            top: 0px;
            width: 100%;
            height: auto;
        }

    body
      button#prev <
      div.scroll
          canvas#the-canvas(style='border:1px solid black')
      button#next >
      script(src='/pdf.js')
      script var url = '/pdf/#{ pdf }';
      script(src='/pdf-control.js')
      script(src='/pdf-sync-master.js')
      script.
        document.getElementById('prev').addEventListener('click', pPage);
        document.getElementById('next').addEventListener('click', nPage);